html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    background-color:lightblue;
    z-index:0;
}
h1 {
    color:white;
    z-index:1;
    position:fixed;
    top:2.6vh;
    left:15.625vw;
    font-size:120px;
    font-family: 'Sigmar One', cursive;
    z-index:-1;
}
#slide2 h2 {
    color:black;
    font-size:60px;
    font-family:'Alfa Slab One', cursive;
}
p {
    font-size:20px;
    font-family:'Open Sans', sans-serif;
    color: black;
}
#cityHall {
    width: 100%;
    position:absolute;
    top:0;
    left:7.8125vw;
    z-index: -2;
    object-fit:cover;
    height:100%;
}
aside {
    position:fixed;
    top:0;
    left:0;
    width:7.8125vw;
    border-right:grey 1px solid;
    height:100%;
    background-color: white;
    padding-top:1.2vh;
    z-index:2;
}
aside button a {
    text-decoration: none;
    color:darkblue;
    font-family:'Open Sans', sans-serif;
}
aside button {
    padding-top:1.2vh;
    width:7.8125vw;
    border:none;
    text-align: left;
}
aside button:hover{
    background-color:lightblue;
    color:white;
}
main {
    margin-left: 9.1vw;
    z-index:0;
}
.slide {
    height:100%;
    background-color:lightblue;
    width:90%;
    margin-left: 6.5vw;
}
#slide1 p{
    margin-left:39vw;
    margin-top:11.5vh;
}
#elPaseo {
    width:16.2vw;
    position:absolute;
    top:48.5vh;
    left:58.5vw;
}
#artery {
    width:16.2vw;
    position:absolute;
    top:48.5vh;
    left:28.25vw;
    transform:rotate(20deg);
    border-radius:10px;
}
#boardShop {
    width:16.2vw;
    position:absolute;
    top:48.5vh;
    left:5.25vw;
    transform: rotate(-30deg);
    border-radius: 30px;
}
#cityHall2 {
    width: 39vw;
    margin-left:auto;
    margin-right:auto;
    margin-top:15vh;
    display:block;
    border:5px solid goldenrod;
}
#laPlaza {
    width: 22.7vw;
    position:absolute;
    left:0;
    top:40vh;
}
#carlton {
    width:22.7vw;
    border-radius: 100%;
    position: absolute;
    right:0;
    top:5.5vh;
}
#slide2 p:nth-of-type(1) {
    position:absolute;
    top:28.5vh;
    left:0;
    width:26vw;
}
#slide2 p:nth-of-type(2) {
    position:absolute;
    top:39.4vh;
    right:0;
    width:23.4vw;
}
@font-face {
    font-family: food;
    src: url(RestaurantMenuHollow.ttf);
}
#slide3 h2 {
    font-family:'food';
    font-size:80px;
}
#slide3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
#foodTruck {
    width:16.2vw;
    position: absolute;
    top:0;
    right:32.5vw;
    border-radius: 100%;
}
#sylvesters {
    width:13vw;
    position:absolute;
    top:2.3vh;
    right:0;
}
#colonyMarket {
    width:13vw;
    position:absolute;
    top:9.25vh;
    right:16.2vw;
}
#malibu {
    width:13vw;
    position:absolute;
    bottom:2.3vh;
    right:-1.3vw;
}
#roundTable {
    width:19.5vw;
    position:absolute;
    bottom:-20.8vh;
    left:45.5vw;
}
#negrantis {
    width:13vw;
    position:absolute;
    bottom:2.3vh;
    left:22.7vw;
}
#byblos {
    width:19.5vw;
    height:23.1vh;
    object-fit: cover;
    position:absolute;
    top:17.3vh;
    left:-9.7vw;
}
#tentCity {
    width:19.5vw;
    position:absolute;
    top:46.2vh;
    left:0;
}
#slide3 p:nth-of-type(1) {
    width:32.5vw;
    position:absolute;
    top:0;
    left:0;
}
#slide3 p:nth-of-type(2) {
    width:32.5vw;
    position:absolute;
    top:17.3vh;
    left:11.7vw;
}
#slide3 p:nth-of-type(3) {
    width:32.5vw;
    position:absolute;
    top:57.8vh;
    left:45.5vw;
}
#border {
    width:9.1vw;
    height:23.1vh;
    position:absolute;
    top:17.3vh;
    left:-9.45vw;
    z-index:1;
    background-color: lightblue;
}
#slide4 h2{
    font-size:80px;
    text-align:center;
}